build-phase0-mimxrt1064
build-phase0-qemu
build-stage2-qemu
build-stage2-mimxrt1064
build-stage3-enabled
build-stage3-disabled
build-stage4
build-stage5
build-stage5-probe
build-stage6
build-stage7
build-stage8
build-stage9
build-stage10
build-pjsip-phase3
build-pjsip-phase3-default
build-pjsip-phase4
build-pjsip-phase4-transports
build-pjsip-phase4-default
build-pjsip-phase5
build-pjsip-phase5-default
build-pjsip-phase6
build-pjsip-phase6-phase5
build-pjsip-phase7
build-pjsip-phase7-phase6
build-pjsip-phase8
build-pjsip-phase8-phase7
build-pjsip-phase9
build-pjsip-phase9-phase8
build-pjsip-phase10
build-pjsip-phase10-phase9
build-pjsip-phase11
build-pjmedia-phase1
build-pjmedia-phase2
build-pjmedia-phase3
build-pjmedia-phase3-link-probe
build-pjmedia-phase4
build-pjmedia-phase5
build-pjmedia-phase6
build-pjmedia-phase7
build-pjmedia-phase7-link-probe
build-pjmedia-phase7-disabled
build-pjmedia-phase8
build-pjmedia-phase8-link-probe
build-pjmedia-phase8-disabled
build-pjmedia-phase9-link-probe
build-pjmedia-phase9
build-pjmedia-phase9-disabled
build-pjmedia-phase11
build-pjmedia-phase11-link-probe
build-pjmedia-phase12