build-phase0-mimxrt1064
build-phase0-qemu
build-stage2-qemu
build-stage2-mimxrt1064
build-stage3-enabled
build-stage3-disabled
build-stage4
build-stage5
build-stage5-probe
build-stage6
build-stage7
build-stage8
build-stage9
build-stage10
build-pjsip-phase3
build-pjsip-phase3-default
build-pjsip-phase4
build-pjsip-phase4-transports
build-pjsip-phase4-default
build-pjsip-phase5
build-pjsip-phase5-default
build-pjsip-phase6
build-pjsip-phase6-phase5
build-pjsip-phase7
build-pjsip-phase7-phase6
build-pjsip-phase8
build-pjsip-phase8-phase7
build-pjsip-phase9
build-pjsip-phase9-phase8
build-pjsip-phase10
build-pjsip-phase10-phase9
